body {
    font-family: Roboto, Arial, Helvetica, sans-serif;
  
   

  }
  *{
    margin: 0px;
  }
  
  .item1 { grid-area: header;
    display: flex;
    justify-content: space-around;
    border: solid 0.01em #808080;
    width: 100%;
  }
  .item1 .search{
    width: 400px;height: 40px;margin-left: 180px;
    margin-right: 180px;
  }
  .item1 img{width: 50px;height: 50px;border-radius: 50%;
    display: flex;
    align-self: center;
  }
  .item6 { grid-area: header2; }
  .item6 .search {width: 400px;height:100vh;}
  .item7 { grid-area: header3;
           display: flex;
           align-self: center;
          justify-self: end}
  .item7 img, .item3 img{width: 50px;height: 50px;border-radius: 50%;}
  .item2 { grid-area: menu;
    flex-direction:column ;
    margin-left: 40px; 
    width: 80%;
    height: 500px;
    margin-top: 30px;}

  .item3{ grid-area: main; 
           display: flex;
           justify-content: space-evenly;
           align-self: center;
           width: 90%;
           margin-left: 8%;margin-top: 5%;
           border: solid 0.01em #808080;
          }
 
  .item4 { grid-area: nav;
   display: flex;
   justify-content: space-between;
   width: 90%;
   margin-left: 8%;
   height: 5vh;
   margin-top: 5%;border: solid 0.01em #808080;}
.seguir>div{ 
  display: flex;
  justify-content: space-between;
}
.seguir>div img {width: 30px;height: 30px;border-radius: 50%;margin-top: 2vh;
}
.seguir> div p{margin-left: 5px;
  font-size: 15px;
  margin-top: 3vh;
}
.seguir> div .sugerencias p{
  font-size: 12px;
  margin-right: 260px;
  color: #808080;
}
.seguir> div span {
  margin-top: 13px;
  font-size: 15px;
  color:
  #1CA0F6;
  margin-left: 100px;
  margin-top: 3vh;
}
.sugerencias span{
  font-size: 10px;
  color: #808080;
  margin-top: 2vh;
 
}
  .fotomenu img {width: 50px;height: 50px;border-radius: 50%;
  }
  .fotomenu p{margin-left: 5px;
    font-size: 15px
  }
  

    .foto, .fotomenu, .seguir> div{
      display: flex;
      justify-content: space-evenly;
    }
    .fotomenu{
      margin-left: 20px;
    }
    
    

   
    .fotomenu span {
      margin-top: 13px;
      font-size: 15px;
      color:
      #1CA0F6;
      margin-left: 100px;
    }
    .foto img{
      align-self: center;
    }
    .bar img{ align-self: stretch;}
   .foto p{
     align-self: center;
   }
  .item4 p{font-size: 15px;margin-left: 5px;}

  .item4 .foto img{width: 50px;height: 50px;border-radius: 50%;margin-left: 5px;
 }

    .item4 .bar img{width: 50px;height: 50px;border-radius: 50%;margin-left: 15px;
  
    }
  .item5 { grid-area: footer; 
    width: 90%;
    margin-left: 8%;
    border: solid 0.01em #808080;
    margin-top: 1%;
    height: 80vh;
    margin-top: 0px;

  }
  .item5 p{ font-size: 12px;line-height: 25px;
  }
  .item5 span{ font-size: 12px;line-height: 25px;
    color: #A49B9B;
  }

  .icons{
    display: flex;
    margin-left: 12%;
    margin-top: 2vh;
  }
  .text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 15%;
    
  }
  .iconytext{
    display: flex;
    flex-direction: column;
  }
  .item5 .icons img{
    width: 20px;
    height: 20px;
    margin-left: 20px;
   
    
  }
  
  .item5 img{width: 70%;height:50vh;
  }
  
  .grid-container {
    display: grid;
    grid-template-rows: repeat(8, 6vw);
    grid-template-areas:
      'header header header header header header'
      '  main main main main menu menu'
      ' nav nav nav nav menu menu'
      '  .   .   .   . menu menu'
      
      
      ' footer footer footer footer . .'
      ' footer footer footer footer . .'
      ' footer footer footer footer . .' 
      ' footer footer footer footer . .'
      ' footer footer footer footer . .'
      ' footer footer footer footer . .'
     ;
     
      
    gap: 10px;
    padding: 10px;
    height: 1500px;
  
  }
  
  .grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
  }